.main-container {
  display: flex;
  justify-content: center;
  margin: 0 3rem;
}

.node {
  display: inline-block;
  margin: 0 1px;
  background: #b4d0e7;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

// border-bottom: 0.4rem solid trans;
